<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ab, officiis placeat quibusdam pariatur molestiae praesentium perferendis sapiente eos animi!</p>
    </div>
</section>