<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos, corporis asperiores ex ratione ipsam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus velit magni rem nemo modi ratione doloribus ut placeat veritatis.</p>
    <a href="http://www.enauro.com" class="btn btn-primary">Enauro Web</a>

</div>